<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/header.html :: header">
</head>
<body>
<div>
    <div class="d-flex">
        <div>POST ID :</div>
        <div th:text="${post.getId()}">post id</div>

    </div>
    <div class="d-flex">
        <div>CONTENT :</div>
        <div th:text="${post.getContent()}">post content</div>
    </div>

    <div>COMMENT :</div>
    <div class="d-flex">
        <form th:action="@{/comment/save}" method="post">
            <input name="postId" type="hidden" th:value="${post.getId()}">
            <input name="nickname" type="text" placeholder="nickname">
            <input name="content" type="text" placeholder="content">
            <input name="depth" type="hidden" th:value="1">
            <input name="parentId" type="hidden" th:value="null">
            <input type="submit" value="댓글 등록">
        </form>
    </div>
    <div th:each="comment : ${commentList}" style="border: 1px solid #5f93ff">
        <div class="d-flex">
            <div class="d-flex jcc aic" th:text="${comment.getDepth() + '층'}">depth</div>
            <div>
                <div th:text="${comment.getNickname()}">nickname</div>
                <div th:text="${comment.getContent()}">comment</div>
            </div>
        </div>
        <div class="d-flex">
            <form th:action="@{/comment/save}" method="post">
                <input name="postId" type="hidden" th:value="${post.getId()}">
                <input name="nickname" type="text" placeholder="nickname">
                <input name="content" type="text" placeholder="content">
                <input name="depth" type="hidden" th:value="${comment.getDepth() + 1}">
                <input name="parentCommentId" type="hidden" th:value="${comment.getId()}">
                <input type="submit" value="댓글 등록">
            </form>
        </div>
    </div>
</div>
</body>
</html>
