<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/fragment/header.html :: header">
</head>
<body>
<div>
    <form th:action="@{/save}" method="post">

        <div>제목</div>
        <input name="title" id="title" type="text">

        <div>비밀번호</div>
        <input name="password" id="password" type="text">

        <div>내용</div>
        <textarea name="content" id="content" cols="30" rows="10" style="resize: none;"></textarea>

        <button class="custom_button" type="submit">저장</button>

    </form>
</div>
</body>
</html>
